.custom-select {
  select {
    border: solid 1px #e9e9e9;
    @media screen and (min-width: 768px) and (max-width: 819px) {
       width: 354px !important;
    }
    @media screen and (min-width: 820px) {
      width: 400px;
    }

    font-size: 12px;
    height: 35px;
    color: #000 !important;
    padding: 5px 10px 4px;
    vertical-align: baseline;
    border-radius: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 448 512' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z' /></svg>")
      no-repeat;
    background-position: calc(100% - 21px) center !important;

    @media screen and (max-width: 767px) {
      max-width: 100%;
      width: 100% !important;
    }
  }
}

.custom-select-order-summary {
  select {
    border: solid 1px #e9e9e9;
    font-weight: 400;
    font-size: 13px;
    height: 40px;
    color: #000 !important;
    padding: 5px 10px 4px;
    padding-right: 25px;
    vertical-align: baseline;
    border-radius: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 448 512' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z' /></svg>")
      no-repeat;
    background-position: calc(100% - 8px) center !important;
    max-width: 210px;
  }
}

#quantity-0 {
  display: -webkit-inline-box;
}
