.account-info {
  .switch {
    button {
      height: 14px;
      width: 36px;
      span {
        &:nth-child(2) {
          height: 20px;
          width: 20px;
          margin: -5px;
          box-shadow: 0 3px 4px 0 rgb(0 0 0 / 14%), 0 3px 3px -2px rgb(0 0 0 / 20%), 0 1px 8px 0 rgb(0 0 0 / 12%);
        }


      }
    }
  }

  .translate-x-6{
    background: black !important;
  }
}