.headless_logo{
    width: 50px !important;
    height: 50px !important;
    object-fit: contain;
    position: unset !important;
    margin: unset !important;
    min-width: auto !important;
    max-width: none !important;
    min-height: auto !important;
    max-height: none !important;
}
.headless_logo_div span{
    position: unset !important;
}